html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.dylan {
    height: auto;
    width: 100%;
}

.homePage {
    background: url('../dylan.png');
    background-size: cover;
    height: 100vh;
}