html,
body {
    margin: 0;
    padding: 0;
}

.videosPage {
    width: 100%;
    height: 110vh;
    /*background-color: #f1f1f1;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

.videosTitle {
    width: 25%;
    font-size: 28px;
    margin-left: 60px;
    height: auto;
}

.videosWrapper {
    width: 100%;
    height: 95vh;
}

.leftHandVideos {
    width: 46%;
    height: 80vh;
    margin-top: 10vh;
    margin-left: 25px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.rightHandVideos {
    width: 50%;
    height: 80vh;
    margin-left: 16px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bottomRightVideo {
    width: 50%;
    height: 40vh;
    margin-top: 5vh;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bottomLeftVideo {
    width: 50%;
    height: 40vh;
    margin-top: 5vh;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.mediumVideos {
    width: 100%;
    height: 95vh;
}

.smallVideos {
    display: none;
}

@media screen and (max-width: 1000px) {

    .mediumVideos {
        display: none;
    }

    .smallVideos {
        width: 100%;
        height: 95vh;
    }

    .leftHandVideos {
        width: 50%;
        height: 80vh;
        margin-top: 10vh;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .rightHandVideos {
        width: 50%;
        height: 80vh;
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .bottomRightVideo {
        width: 45%;
        height: 40vh;
        margin-top: 5vh;
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: flex-start
    }

    .bottomLeftVideo {
        width: 50%;
        height: 40vh;
        margin-top: 5vh;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-start
    }
}